[2015-07-27 15:06] yuchi opened #1 "Add a formal LICENSE"
This code is very interesting, and looking at your *package.json* looks like you’re releasing it under the MIT license.

Could you please state it in the *README* and add a proper *LICENSE* file?

[2015-07-27 15:30] Yomguithereal commented on #1
Hello @yuchi. I will do so as soon as I have some time to wrap up a first releasable version of the lib.

[2015-07-27 21:49] #1 closed

[2015-07-27 21:53] Yomguithereal commented on #1
I added the LICENSE. Are you the person working on `react-titanium` @yuchi?

[2015-07-28 05:43] yuchi commented on #1
Yes I am! I stole most of the infrastructure from this module, and I wanted to be in line with your interests.

Do you mind if I place you and this project on the acknowledgements?

[2015-07-28 09:14] Yomguithereal commented on #1
I don't mind at all @yuchi. Please come back here if you hit issues with custom rendering so we can fix it together.

[2015-07-28 11:39] Yomguithereal opened #2 "Make render happen only once each frame"

[2015-07-28 11:56] #2 closed

[2015-07-28 16:34] Yomguithereal opened #3 "Finish sandcrawler-dashboard conversion"

[2015-08-25 20:53] yuchi opened #5 "Implementation of ReactComponentEnvironment.replaceNodeWithMarkupByID"
You know that because of `react-titanium` we share a lot of common pains :)

Well, looks like that:

1. In `react@0.14.0-beta3` we still cannot re-inject *ReactComponentEnvironment*.
2. In some specific cases we need to implement `replaceNodeWithMarkupByID` otherwise it will throw errors at us.

A simple test case that worked (which means failed!) for me is:

[code]

and then change the value of `

[2015-08-26 01:14] gaearon opened #6 "Can't get mouse events to work"
I'm probably missing something obvious but I can't seem to add `onPress={this.handlePress}` to boxes—they don't respond.

[2015-08-26 09:40] Yomguithereal commented on #5
Hello @yuchi, let me check this one thoroughly. If I remember correctly, even if you cannot inject *ReactComponentEnvironment` you can still override its properties/methods as a dirty workaround.

[2015-08-26 09:41] Yomguithereal commented on #6
Hello @gaearon. Will check that asap to see if I didn't forget something.

[2015-08-26 09:44] yuchi commented on #5
That’s what I did on yuchi/react-titanium@b1da1f26d94d160fbc1adcbe9c6533c5b007e2f4 but I’m not exactly sure about what should I do with it.

In my case I was replacing a top level window so a no-op is ok for me, but I can’t foresee when this will bite me again.

[2015-08-26 10:16] Yomguithereal commented on #6
Ok, so after some investigation it seems that mouse events don't work with OSX's basic terminal ([source](https://github.com/chjj/blessed/issues/2)). However, keyboard inputs work but you should set either the `input` or the `keyable` property of your box to `true`.

On a side note, if I remember correctly, the `press` event (not `keypress`) is reserved for blessed buttons only so it won't work on

[2015-08-26 11:54] gaearon opened #8 "Numbers seem to break text nodes"
Changing any text node to include a number kills it. (I mean the number type.)
I think, since it works on web, it should work here too, shouldn't it?

Example:

[code]

<img width="310" alt="screen shot 2015-08-26 at 14 53 43" src="https://cloud.githubusercontent.com/assets/810438/9492670/46e1b7ae-4c02-11e5-84d8-d8e81f69410b.png">

[2015-08-26 12:10] Yomguithereal commented on #8
Hello @gaearon. I guess it's not the number that is problematic but rather the fact that two distinct text nodes are rendered by react. So, since I use a `setContent` on the blessed node twice because I did not take this case into account, only the last one is rendered.

Let me see if I can fix this trivially.

[2015-08-26 12:17] yuchi commented on #8
Probably not straightforward. Got issues too and stopped implementing text nodes.

Please, keep me updated :)

[2015-08-26 12:32] Yomguithereal opened #9 "Use free to release memory more efficiently"

[2015-08-26 12:48] Yomguithereal commented on #8
Ok, so here my problem is that React text nodes are not aware of their siblings or even of the existence of such siblings which drastically complicates the use of `setContent` for the blessed node. What I could do is use blessed `text` nodes but there isn't such thing as inline nodes in blessed and positioning will be a nightmare to deal with.

I can see another solution working on the id of the t

[2015-08-26 12:52] yuchi commented on #8
`react-titanium` uses a different strategy for final tree composition. The main difference is that while you let every node call `.add` on the parent, I need to get the children **before** the parent is ready ([see here](https://github.com/yuchi/react-titanium/blob/b1da1f26d94d160fbc1adcbe9c6533c5b007e2f4/src/ReactTitaniumComponent.js#L26)) and I was thinking to use that array of children to extra

[2015-08-26 12:53] gaearon commented on #8
Does React Native solve / even deal with this?
They use explicit `<Text>` everywhere right?

cc @spicyj @sebmarkbage in case they can share expertise / offer guidance

[2015-08-26 12:54] yuchi commented on #8
For me the issues happened when text nodes were treated as normal components and triggered updates that needed to be treated in `ReactComponentEnvironment.processChildrenUpdates`.

[2015-08-26 12:55] Yomguithereal commented on #8
@yuchi, I set `ReactComponentEnvironment.processChildrenUpdates` to be a noop to avoid these issues. But it's right that it's problematic not to be able to inject the component environment as the other things. I've not checked whether this particular problem was fixed in `beta3` however.

[2015-08-26 12:57] yuchi commented on #8
@Yomguithereal  *ReactEnvironment.Component.inject* still throws in `beta3`

[2015-08-26 17:59] spicyj commented on #8
If you want to make this work, you can look at how ReactDOMTextComponent is injected and the code in _updateDOMChildren in ReactDOMComponent.

[2015-08-26 20:40] yuchi commented on #8
If *think* I somehow grokked it. Could you please check if I got it wrong, @spicyj?

- both `mountChildren` and `updateChildren` are `ReactMultiChild` APIs, therefore if **I don’t want text elements to fire children updates** I simply need to **not pass them any further**
- if I discern *content* children from *mountables* children in both `mountComponent` and `receiveComponent` I can safely join

[2015-08-26 20:41] spicyj commented on #8
Yes, that should be fine. It gets a little tricky if you support switching between text and other components (not sure if you do) but that sounds correct to me.

[2015-08-26 20:45] yuchi commented on #8
That case cannot happen because there would be no way to use a node where text can go.

E.g. in `react-titanium` the `<label>`s cannot have children and has a `text` property.

[code]

In `react-blessed` you only have `node.setContent('Some text here')`.

[2015-08-26 20:46] yuchi commented on #8
Actually in Titanium there’s a special case for buttons that can handle children views **alongside** a text property. So no switch can happen.

Great! Thank you @spicyj!

[2015-08-28 08:07] chjj commented on #6
Yeah, Terminal.app does not support mouse events without a [plugin][1]. @dbkaplun explains how here: https://github.com/slap-editor/slap-Terminal.app-profile

iTerm2 supports mouse events but also has its own shortcomings (e.g. combining characters will actually break the layout of any program. they've neglected to fix this for a long time now).

Personally, if I were using OSX as my primary OS, I

[2015-08-29 06:05] mizchi opened #12 "falsy text is not rendered"
[code]

is not rendered

[2015-08-31 08:45] Yomguithereal commented on #12
Hello @mizchi. I will check that asap.

[2015-08-31 08:48] yuchi commented on #12
I *believe* this is expected behavior to support conditional children: `{ value && <Something /> }`.

[2015-08-31 08:52] Yomguithereal commented on #12
@yuchi, upon trying it on React's [frontpage](http://facebook.github.io/react/) it does work and renders `0`. I guess it will only avoid other falsy values.

[2015-08-31 08:53] yuchi commented on #12
Sorry, my bad.

[2015-08-31 08:54] Yomguithereal commented on #12
This behavior is kinda weird anyway.

[2015-08-31 13:10] Yomguithereal opened #13 "Drop ReactBlessedTextComponent if really not useful anymore"

[2015-08-31 13:18] #8 closed

[2015-08-31 13:18] #9 closed

[2015-08-31 13:18] #12 closed

[2015-08-31 13:19] Yomguithereal commented on #12
This should be fixed by now. Will soon release a `0.0.3`.

[2015-08-31 13:20] Yomguithereal commented on #8
Ok, I fixed this issue by avoiding text components altogether since they are not as relevant in `blessed` as they are for the DOM. I set the content of the blessed node directly in `mountComponent` and `receiveComponent`.

[2015-08-31 13:24] yuchi commented on #13
I still have it lingering in the repo but it's completely unused for me.

[2015-08-31 13:27] Yomguithereal commented on #13
Same for me now. It will probably disappear soon.

[2015-08-31 13:28] Yomguithereal commented on #13
On a side note, if you drop the injection, does it cause any issue? Just wondering if I need to keep a noop class for the TextComponent.

[2015-08-31 13:35] yuchi commented on #13
I am **currently** [not injecting it](https://github.com/yuchi/react-titanium/blob/9851281c6806cafe73f34946c8217a0d501bdfa9/src/ReactTitaniumInjection.js). But I sometimes got issues with text components rendered as `<span id=".nodeblahblahblah">my text</span>` because of it.

Looks like 0.14 still has an awful lot of references to the DOM.

[2015-08-31 13:40] yuchi commented on #13
Non reproducible anymore. I have to admin the renderer was in a bad state at that moment though.

The bug-triggerer looked like this

[code]

Notice how I confused `{ children, ...props }` with `{ ...children, props }`. I was using a keyed object as a child, therefore having the object values as children.

[2015-08-31 13:47] Yomguithereal commented on #6
Are there still problems here @gaearon?

[2015-08-31 17:53] gaearon commented on #6
I suppose not!

[2015-08-31 17:53] #6 closed

[2015-08-31 19:29] mizchi commented on #12
:+1:

[2015-09-01 10:03] Yomguithereal opened #14 "[Future]: Possibility to render in any blessed node"

[2015-09-01 11:44] yuchi commented on #14
This is not a bad idea at all. I would let react-blessed components to work outside of react.

[2015-09-03 06:53] sidorares commented on #5
Hey @yuchi @Yomguithereal - could you recommend a good starting point for implementing custom react renderer? I've looked briefly at react-canvas, react-three and react-hardware sources and all have slightly different approach. I'd like to create "react-x11" renderer on top of my [x11](https://github.com/sidorares/node-x11) X Window client. As far as I understand this is not documented anywhere an

[2015-09-03 06:57] yuchi commented on #5
I was tinkering with the idea of writing a guide. For me reading the source of both react-dom client and react-blessed was enough.

[2015-09-03 06:58] yuchi commented on #5
But there are parts that still don't grasp completely, the pooled transactions for example. L

[2015-09-03 07:03] sidorares commented on #5
thanks! Please do the guide!

Here is my list of custom integrations:

https://github.com/Yomguithereal/react-blessed
https://github.com/Flipboard/react-canvas
https://github.com/iamdustan/react-hardware
https://github.com/Izzimach/react-pixi
https://github.com/Izzimach/react-three/
https://github.com/yuchi/react-titanium
https://github.com/reactjs/react-art
https://github.com/facebook/react-nativ

[2015-09-03 08:17] Yomguithereal opened #15 "Switch to blessed 0.1.81"
Related to chjj/blessed#171.

[2015-09-03 08:29] Yomguithereal commented on #5
Hello @sidorares. If I remember correctly there are several approach to making a custom React renderer. Quite like pre-0.14 and 0.14. Now that the rendering routine has been separated from the core, it has been easier to develop custom rendering routine. So you must have, on one side, custom renderers using hacks and or creating custom components using no DOM elements while being rendered by the D

[2015-09-03 08:32] Yomguithereal commented on #5
Anyway, for the time being, and until @yuchi creates a guide (for which I'll gladly provide feedback and help), don't hesitate to come back here for precisions and so we can tackle incoming problems together.

[2015-09-03 15:48] gaearon commented on #5
I'm getting these too:

[code]

Why does this happen? Is there a hook missing on React side, or is there something this implementation is currently missing?

[2015-09-03 15:53] yuchi commented on #5
That's exactly the kind of errors that pushed me into implementing it as a noop.

[2015-09-03 16:11] Yomguithereal commented on #5
It is currently a noop too in `react-blessed` but it seems to fail anyway. I need to investigate this further. @gaearon can you provide us with the code that led to this error please?

[2015-09-03 16:58] gaearon commented on #5
Sure. This is enough:

[code]

Note how keys are different, so reconciliation is forced.

[2015-09-03 17:14] gaearon commented on #5
I seem to be able to fix it by adding [after this line](https://github.com/Yomguithereal/react-blessed/blob/7e59e81f80d9afc45b62eaf264fca3626236aa2e/src/ReactBlessedInjection.js#L32):

[code]

one more line:

[code]

[2015-09-03 17:17] gaearon commented on #5
So the problem is `ReactInjection.Component.injectEnvironment()` can be called only once. It's already being called from React entry point because `react` and `react-dom` are still a single thing inside since they're still shipped together for backward compat until 0.15. Therefore we can't call it again, and have to resort to monkeypatching `ReactComponentEnvironment` directly.

Am I correct? @spi

[2015-09-03 17:23] spicyj commented on #5
I think that sounds right. There is not.

[2015-09-03 17:25] gaearon commented on #5
Thanks for confirming!

[2015-09-03 17:57] gaearon commented on #5
I sent https://github.com/Yomguithereal/react-blessed/pull/16 as temporary fix until 0.15.

[2015-09-03 21:14] Yomguithereal commented on #5
Will check the PR now @gaearon. Thanks.

[2015-09-03 21:16] #5 closed

[2015-09-04 09:21] Yomguithereal commented on #15
N.B.: Subsequent versions will oblige to use at least `blessed@0.1.81`.

[2015-09-04 15:13] Yomguithereal commented on #13
@yuchi, you confirm that I can drop the TextComponent?

[2015-09-04 15:43] yuchi commented on #13
![3064513_orig](https://cloud.githubusercontent.com/assets/646609/9687904/58b7cd8e-532c-11e5-9061-7f63289b1875.png)

[2015-09-04 16:22] Yomguithereal commented on #13
Thanks for the laugh @yuchi! I am clearly hearing the soundtrack.

[2015-09-04 20:13] yuchi commented on #13
I just noticed that you’re [using lodash to operate on children](https://github.com/Yomguithereal/react-blessed/blob/master/src/ReactBlessedComponent.js#L70).

My I suggest you to switch to a less performant but guaranteed form that uses `React.Children.*` methods? (See [mine](https://github.com/yuchi/react-titanium/blob/master/src/utils/separateChildren.js))

[2015-09-05 00:39] jdalton commented on #13
:full_moon_with_face:

[2015-09-05 07:08] yuchi commented on #13
I'm sorry @jdalton, didn't mean to offend lodash! :)

Technically speaking react children are an opaque data structure that can be composed of arrays, objects, arrays of object of elements, single elements. Actually I don't know the whole spectrum and cases, that's why I use that react util.

[2015-09-06 16:06] Yomguithereal commented on #13
I see your point about `ReactChildren.map` as it would probably be future-proof @yuchi, but I just cannot hurt @jdalton's feeling like that. Let me solve this soon :).

[2015-09-06 16:33] jdalton commented on #13
Lol :heart:

[2015-09-07 15:06] #15 closed

[2015-09-07 15:06] #13 closed

[2015-09-13 22:48] esnunes opened #17 "style instead of class"
The current version of react-blessed accepts a `class` attribute that works in the same way as `style` of react-native and react itself. I understand the problem of using `style` because it conflicts with `style` element attribute however wouldn't be better to support only `style` and support it as react-native / react?

[2015-09-14 08:36] Yomguithereal commented on #17
Hello @esnunes. You explained quite well the reasons why I went with `class` instead of `style`. Not to collide with blessed's already existing namespacing. But my real problem here is that some blessed attributes, which are typically style attributes such as the border type, are not registered under the style property, hence my turmoil.

[2015-09-14 08:38] Yomguithereal commented on #17
That said, I must:

1. Check whether there is not another blessed way to define border style etc.
2. Maybe I should create an abstraction over blessed's standard styling so I can include missing items and wrap it in the component magical style attribute.

[2015-09-15 21:49] Yomguithereal commented on #17
Ok, so you cannot, with `blessed`, register border type through style. So here, maybe it's just a naming problem. The actual classes are like default props you would pass to your component. Do you have a better name, not `style` nor `class` then to define it?

[2015-09-16 01:39] esnunes commented on #17
I think in this case it is better to leave the lowercase components as their blessed pair and create upper case ones following react standards. It might be good to do it in as an external library like react-blessed-widgets, what do you think?

[2015-09-16 09:59] Yomguithereal commented on #17
The thing is this solution would be quite heavy compared to the current solution.

[2015-09-16 12:20] esnunes commented on #17
You can think of it like HTML -> React, Blessed -> React. When you create a react (browser) component you do it based on HTML tags, when you create a react (blessed) component you do it based on blessed tags ;)

[2015-09-16 17:06] chentsulin commented on #6
Maybe we should add this into Readme? I also try this for a while...

[2015-09-17 08:27] Yomguithereal commented on #6
@chentsulin this is an issue with blessed, not with the react renderer. However, it would surely be a good thing indeed to create such thing as a FAQ section on this documentation or a disclaimer about such common traps. Let me check where we could place it.

[2015-09-20 09:34] kjirou opened #22 "element resizing is not working?"
Hello.

I tried to resize a box by like the following code, but it was not working.

[code]

----

So I added `width` and `height` to `RAW_ATTRIBUTES` (https://github.com/Yomguithereal/react-blessed/blob/master/src/update.js#L9), then it seemed to have moved.

Is this change wrong?

----

Environments:

- blessed@0.1.81
- react@0.14.0-beta3
- react-blessed@0.1.3

[2015-09-21 12:24] Yomguithereal commented on #22
Hello @kjirou. You are right indeed, I forgot bot `width` and `height` in `RAW_ATTRIBUTES`. Do you want to make a pull request with the needed changes, or should I add them?

[2015-09-21 13:06] kjirou commented on #22
@Yomguithereal Thanks for your concern! I did it.

[2015-09-21 13:08] #22 closed

[2015-09-26 08:16] brigand opened #24 "Mouse events"
In the blessed Program docs:

Because react-blessed only listens for 'event', the mouse events are never bound. This causes a lot of interactions, such as focusing an input with a click, to be ignored. Enabling it globally doesn't seemt to affect the children.

Maybe just `.on('mouse', noop)`? It seems to fix the problem, but I'm not sure if there are any other side effects.

[2015-09-26 09:53] Yomguithereal commented on #24
Hello @brigand. The `event` event is fired when any event is fired. So event should also be fired when the `mouse` event is. Even when globally registered, the events are supposed to bubble. I must check what went wrong here. Can you try to pass the `mouse` prop as `true` to some of your relevant blessed nodes?

On a side note, I think mouse-related events don't work on Mac OSX standard terminal.

[2015-10-18 15:56] kjirou opened #27 "Could not redraw empty children now"
Hello.

It seems the empty children can not be redrawn.

For example, if you run the following code:

[code]

Initial display:

![](https://i.gyazo.com/24401b4063badb7bdcaada1ad8ba3fc1.png)

Pushed "r":

![](https://i.gyazo.com/c0882378eeb66c00ea104b88e093815b.png)

Pushed "r":

![](https://i.gyazo.com/225d543261e5601531c975ed8315bdd3.png)

Pushed "r", but it is not redrawn:

![](https://i.gyazo.c

[2015-10-18 18:33] Yomguithereal commented on #27
Hello @kjirou. Will check that asap.

[2015-10-19 13:21] #27 closed

[2015-10-19 14:11] kjirou commented on #27
GJ! :+1:

[2015-10-19 15:58] Yomguithereal opened #28 "Unclutter realChildren/childrenToUse"

[2015-10-20 01:43] nmn opened #29 "Can't get <terminal> to work"
trying to render a <terminal> doesn't work.

Also, I would love the code behind the demo being shown in the gif. I'm trying to build a simple dashboard like utility that will run multiple watch commands and show them side-by-side.

My first big problem is that all the text rendered by react-blessed is currently white. I'm not sure how to make colors from the output of various commands show up.

Se

[2015-10-20 21:33] Yomguithereal commented on #29
Hello @nmn.
The code running the thingy shown in the gif is [here](https://github.com/medialab/sandcrawler-dashboard/tree/react/src) and is actually a dashboard for the [sandcrawler](http://medialab.github.io/sandcrawler/) spiders.

Concerning your output colors, are you using ANSI escape characters? If so, normally they should be rendered correctly. If you are using blessed color tags, be sure to

[2015-10-21 18:57] nmn commented on #29
Sorry, typo in my issue, I tried using the `terminal` widget, but that errors out.
As for colors, ANSI escape characters don't seem to be working for me.

In any case, I'm gonna take a look at the sand crawler app and see if I can learn something.

[2015-10-21 21:04] Yomguithereal commented on #29
Let me check that more thoroughly tomorrow. I guess you are working on [this](https://github.com/nmn/multi-command) project?

[2015-11-01 12:47] xicombd opened #30 "blessed-contrib support"
Hey @Yomguithereal!

What are your plans for `blessed-contrib` support?
Were you thinking of adding its widgets to this module or would you create a different one?

I'm asking this because I wanted to use some of their widgets with `react-blessed` and didn't find any good way of doing it.

I did a [little test](https://github.com/xicombd/react-blessed/tree/blessed-contrib) where I hacked `blessed-

[2015-11-01 13:42] Yomguithereal opened #31 "Optimize update routine"

[2015-11-01 15:14] Yomguithereal commented on #30
Hello @xicombd,
I haven't chosen a way to integrate `blessed-contrib` yet but I have two possible options:

1. The one you display in your branch, i.e. make `blessed-contrib` widgets full-fledged `react-blessed` primitives (however, I feel that putting a dash between `contrib` and the widget name would be more readable: `contrib-line` rather than `contribline`.
2. Create an external `react-blessed

[2015-11-01 15:16] Yomguithereal commented on #29
Any update on this @nmn?

[2015-11-01 16:29] xicombd commented on #30
Yeah, the first option is definitely easier to implement and to use.

Initially I was using the dash, but my syntax highlighter didn't like it, so I decided to follow the html naming and don't include anything between (eg. `textarea`, `fieldset`, etc). But I'm happy to change that if you think it's better.

I still don't see a good way of doing the second option, as from the way I'm seeing this, w

[2015-11-01 16:33] Yomguithereal commented on #30
Which syntax highlighter do you use? We could also try the `:` which reminds of xml namespaces.

[2015-11-01 17:37] Yomguithereal commented on #30
@yaronn: sorry for bothering you but do you have an opinion about this topic and would it be fine with you if `blessed-contrib` widgets became primitives in `react-blessed` along with standard `blessed` ones?

[2015-11-01 19:46] xicombd commented on #30
The Atom's default one with the Monokai theme.

[2015-11-01 21:25] yaronn commented on #30
@Yomguithereal I don't have a strong opinion, I think it would be good if people can write their custom widgets and use them without turning them into primitives. From my perspective blessed contrib can be a primitive in react-blessed. If you do it please add a link to blessed-contrib in the first line of the readme. Good luck!

[2015-11-03 15:55] Yomguithereal commented on #30
As I said, I would personally prefer the second solution which seems conceptually better and more extensible would someone need to create widgets on its own. The thing is I don't really know how to devise components without at least wrapping them within an `element` node and this feels really cumbersome.

[2015-11-30 22:37] patrickkettner opened #33 "label styling isn't working"
with blessed, I am able to set the color for the label's style inline, e.g.

[code]

But when I try to do the same from react-blessed, it just includes the style declarations as is, inside of the label itself

![image](https://cloud.githubusercontent.com/assets/465414/11486734/c547ae9c-976f-11e5-9abe-2afb816c7a15.png)

Is there any way to style the label's color?

[2015-11-30 22:52] Yomguithereal commented on #33
Hello @patrickkettner.
If I record correctly, `blessed` introduced the `tags` boolean on boxes not too long ago (I guess it's for perf reasons). And I think you know have to explicitly declare that you want tags to be rendered. Can you try to add a `tags` prop to your element rendered with `react-blessed` and tell me whether this solves it?

[2015-11-30 22:54] patrickkettner commented on #33
well dang, I don't know how I missed that

Thank you so much for the fast response - that fixed it!

[2015-11-30 22:54] #33 closed

[2015-12-15 01:18] iamdustan commented on #17
I'm curious if you would consider the target consumers of this to be react devs of blessed devs trying out react?

If itis React devs I would argue in favor of using the style and RN approach of building a web style layer into react-blessed, rather than a straight pass-through to the blessed API.

I believe this would lower the barrier to entry and provide the opportunity for a lot of cool things

[2015-12-15 01:28] iamdustan commented on #30
Any reason to not make them full fledged components like:

[code]

Rather than the magic of the generic component string implementation?

[2015-12-15 01:40] iamdustan opened #34 "Proposal: <screen /> root component"
This is just a quick proposal to change the current render/mount syntax.

The motivation is to remove the need to require both `react-blessed` and `blessed` and let `react-blessed` manage both.

[code]

[2015-12-15 09:21] Yomguithereal commented on #17
@iamdustan do you mean you would like a css-like interface to blessed style? I am not sure it would be easy nor desirable to implement as this would bloat the lib and hinder performance.

If not, do you mean to say that the current state of `style` in the lib suits you or should we go in another direction?

[2015-12-15 09:24] Yomguithereal commented on #30
@iamdustan, if I go this way, I'll make a different lib called `react-blessed-contrib`. The thing here is that is difficult to render the contrib components without wrapping them in unnecessary element tags if they are not primitive in the library. So I need to devise a better way to handle extensions of the native widgets. Do you have any idea how we could implement this?

[2015-12-15 09:43] Yomguithereal commented on #34
The problem here is that you won't have a reference on the screen easily and this is required to handle `blessed` nicely. The `render` function could return such reference but should really return the mounted component because it is needed by some Flux-like implementations and hot module reloaders (plus this is consistent with `react-dom`).

[2015-12-15 12:18] iamdustan commented on #34
Is that reference necessary because you’re escaping out to the raw `blessed` API regularly? I suppose the consistency is in the browser you always have access to the global `document`. This * could* still be accomplished with a ref, but definitely constrains the escape hatch a bit.

[2015-12-15 12:21] iamdustan commented on #17
Correct. Doing something like the following quick psuedo-code would be super nice, IMO

[code]

It definitely would both increase the size of this and slow down performance, but I think that both are okay for the improved developer experience and runtime validation warnings that could provide.

[2015-12-15 12:28] esnunes commented on #17
I'm not sure if it will decrease performance, Vjeux from Facebook developed a javascript version of flexbox which converts to absolute positions (usually absolute positions are faster than calculate everything by hand).

There are some things to address in order to use react-blessed as a production-ready framework (I believe most part of the things are not react-blessed problems but blessed ones).

[2015-12-15 12:33] iamdustan commented on #30
On my phone right now so I'll respond fuller later, but the general I'm doing in react hardware (and taken from RN) is havethe component constructor take a making if valid attributes and provide a bunch of composite components out of the box.

A NativeMethodsMixin which extends the core components can give access to the underlying APIs.

What do you mean by wrapping in unnecessary tags? Could I se

[2015-12-15 14:39] Yomguithereal commented on #34
The other thing is that you might want, as with `react-dom` to mount your react app in a precise node of an existing blessed application, as you can mount your React app on a precise DOM node. Plus you need the reference to be able to exit it and quit the program if needed.

[2015-12-15 14:41] iamdustan commented on #17
True. It will definitely *increase* time inside react-blessed’s diffing/payload creation because of the additional work, but not necessarily any measurable impact on actual rendering time.

I think the note regarding react-blessed problems versus blessed ones is quite relevant. This is arguably one of the reasons why React was created for the browser. Using the DOM APIs directly is difficult to sc

[2015-12-15 14:44] Yomguithereal commented on #17
This seems cool indeed. Let me check all those ideas and see whether I can draft something about layout etc. On a side node, I remember that `blessed` offers a `screen.log` method that can display message in a dedicated box displayable by pressing F3 (may be another control, I don't remember exactly).

[2015-12-15 14:44] iamdustan commented on #34
Ah cool. So you can do something like

[code]

[2015-12-15 15:03] Yomguithereal commented on #34
Yes, for instance.

[2015-12-17 21:17] Yomguithereal commented on #30
Wrapping native methods seems to be the way to go. Are there examples of this in [react-hardware](https://github.com/iamdustan/react-hardware) I could base myself upon?

What I want to avoid is the following:

[code]

[2015-12-17 21:19] #29 closed

[2015-12-17 21:20] Yomguithereal commented on #17
@iamdustan, were you speaking about [this](https://github.com/facebook/css-layout) lib for the layout?

[2015-12-17 21:31] iamdustan commented on #30
The pattern (taken shamelessly from React Native) is to have your core React{Renderer}Component, a creator for it that has a bit of sugar for declaring the valid attributes for that property, and then the component itself.

Example component:
https://github.com/iamdustan/react-hardware/blob/master/src/components/Potentiometer.js

https://github.com/iamdustan/react-hardware/blob/master/src/createRe

[2015-12-17 21:34] iamdustan commented on #17
Yes! I have been meaning to explore it after I get a bit more familiar with blessed itself.

Also, needed to turn on `debug` mode in the blessed constructor and then the button was `F12` :)

[2015-12-17 21:35] Yomguithereal commented on #30
Thanks @iamdustan. Will check that.

[2015-12-17 21:37] Yomguithereal commented on #17
Well I was not so far from the truth, was I :smile:?

[2015-12-19 09:27] davidmarkclements commented on #34
alternatively return both screen and components?

[code]

[2015-12-19 12:15] Yomguithereal commented on #34
The initial point was not to bind `react-blessed` to a specific version of `blessed` so I don't have to upgrade the dependencies along with `blessed` each time a minor/patch is released. Plus the idea was to let people mount an app on an already existing `blessed` app the same way you would with `react-dom`. I don't particularly see what we win by creating a `screen` component in `react-blessed`.

[2015-12-19 12:49] davidmarkclements commented on #34
I guess for those who do want it, we can always create a non core constructor for screen that can instantiated with JSX

[code]

[2015-12-27 17:24] davidmarkclements opened #41 "idea: hybrid tui-gui apps"
This may be a spin off project, but looking for thoughts

If we take the elements like <box>, <list> <checkbox> <table> and so on, most of these can be equated to CSS frameworks like bootstrap - so what if we create a plugin that does just that - renders using blessed in the terminal, and outputs bootstrap DOM structure equivalents for browser rendering

approaches:

## Approach Option 1: Hybrid F

[2015-12-27 17:46] davidmarkclements commented on #41
for compatibility we'd also need to address the `class` situation, as per https://github.com/Yomguithereal/react-blessed/issues/17

[2015-12-27 19:27] Yomguithereal commented on #41
This could be fun indeed. Let me think about it and see if I can find ideas.

[2015-12-30 17:41] spudly opened #43 "Doesn't Play Nice with react-dom/server"
I have a terminal application that includes a server for rendering html with react. I tried to integrate react-blessed so that I could create a better experience in the terminal using react. Everything works as expected until a request comes in, which causes something to be rendered with react-dom/server.

When that happens, I get the error, "Invalid blessed element "html" which is created in src/

[2015-12-30 17:50] Yomguithereal commented on #43
Hello @spudly. The thing is React dependency injection is quite weird and does not go well when different renderers are used in the same script because a single React instance will share things with both renderers.

Check, for instance this lib's injection [file](https://github.com/Yomguithereal/react-blessed/blob/master/src/ReactBlessedInjection.js) mimicking `react-dom`'s one and you'll see the

[2015-12-31 10:27] yuchi commented on #43
The ‘best’ idea would be to have two completely different versions of react, one for `react-blessed` and one for `react-dom`.

[2016-01-02 11:48] Yomguithereal commented on #43
That can work indeed. However, can you register two versions of the same dependency in the same `package.json` file?

On a side note, even if this would do the trick, it's not satisfactory. But I guess we cannot do much thing about this since this seems to truly be a React issue here.

[2016-01-02 18:17] davidmarkclements commented on #41
There's also the possibility of rendering to canvas: https://github.com/flipboard/react-canvas - even as a stop gap. Perhaps what we really need is a common set of generic components that will render in any environment (dom, canvas, terminal, native mobile, webgl, maybe even audio/Braille (eg screen readers and brialle interfaces))

[2016-01-03 20:10] dbkaplun opened #44 "props in constructor does not match props in render"
Expected:
[code]
Actual:
[code]
Code:
[code]

[2016-01-04 06:57] yuchi commented on #43
Yeah indeed. The fact that React requires to be modified by the renderer somehow shuts the functionality down.

[2016-01-04 08:27] dbkaplun commented on #14
+1 this is very important IMO

[2016-01-04 10:48] Yomguithereal commented on #44
Hello @dbkaplun. This seems to be a tough one. Can you guarantee me that this would work with `react-dom` please?

[2016-01-04 10:48] Yomguithereal commented on #43
Dirty hacks it is then.

[2016-01-04 11:18] yuchi commented on #44
Also are you sure that you don’t want to use default props?

[code]

[2016-01-04 13:45] dbkaplun commented on #44
Looks like `react-dom` exhibits the same behavior: http://jsbin.com/gutagazaxa/1/edit?html,js,output

I've filed facebook/react#5772, maybe the React guys will have some insight.

[2016-01-04 14:14] yuchi commented on #44
I **believe** you’re not supposed to mutate or change what you pass from your constructor to the one from Component.

[2016-01-04 14:15] Yomguithereal commented on #44
That's probably the case indeed but this is really counter-intuitive.

[2016-01-04 14:18] yuchi commented on #44
That’s because the props are always replaced from the outside. If you think about it it‘s pretty obvious it doesn’t work, but still looks *strange*.

The main issue is that you **think** that `super(props)` create the object that will be diffed against, which is false!

[2016-01-04 17:04] spudly commented on #43
Darn. Since the React team doesn't have time to work on this it looks like my best options at this point are to either fork my process or spawn two separate subprocesses and somehow facilitate communication between the two.

Thanks for all your help.

[2016-01-04 17:48] Yomguithereal commented on #43
Forks are quite easy to communicate with through `process.on('message')`.

Another solution would be to create a clever hack fixing React's injection by monkey patching it but it will surely break on further updates.

[2016-01-04 19:56] davidmarkclements commented on #17
just to add to this, using a prop of `class` gets picked up by this eslint rule https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-unknown-property.md

which is enabled by default for jsx linting and therefore in standard and semi-standard linters.

to get around it in `standard` one would have to comment-ignore every time class is used

[2016-01-05 04:06] dbkaplun commented on #44
facebook/react#5772

[2016-01-05 04:06] #44 closed

[2016-01-05 08:56] Yomguithereal commented on #17
Problem here is really the overlap with blessed `style` attribute.

[2016-02-10 10:48] Yomguithereal opened #47 "Add linter"

[2016-03-08 05:49] piranna commented on #41
+1000 on this, I always wanted `blessed` to be more HTML-like for this kind of things (I was also thinking on developing my own blessed-based HTML renderer... :-P).

[2016-03-08 09:46] Yomguithereal commented on #41
I you ever make some tests with CSS layout etc. I would be glad to get your feedback about it and about your experiences on the subject @piranna.

[2016-03-08 10:52] piranna commented on #41
I have some other projects on my queue (I'm lead developer of NodeOS), but I'm thinking about using this for one of them so when I get time I'll told you about it ;-)

[2016-03-09 14:54] formula1 commented on #41
https://github.com/formula1/meh-texteditor/tree/master/lib/Components/AbstractComponents

Shameless plug. Ive got started on it but I am pretty far from actually finishing it. Im not using the real react because I dislike the global nature of it and their stucture/import declarations make it dofficult for me to know where things are and how it works

[2016-03-09 21:12] piranna opened #49 "Add example in vanilla Javascript"
Example are written in `jsx`, and compiled result is imposible to understand. Please add a simple demo in vanilla Node.js javascript to show how it can be used the library, and if possible how to define templates to set the elements too.

[2016-03-18 11:04] Yomguithereal commented on #49
Hello @piranna. I see your point and agree but unfortunately I don't have much time to do so. I'll gladly accept a PR though :). Else I'll tackle this point when migrating to react v15.

[2016-03-18 11:14] piranna commented on #49
Thank you :-) I've been reading a bit about jsx and seems to be vanilla Javascript with support for React tags, but still it confuse me a lot :-P

[2016-04-19 23:51] rogchap opened #50 "Update to latest version of React: injectEmptyComponent undefined"
I know the docs say to use react 0.14.0 but it also says ">="
Is there plans to upgrade to a new version of react?
The part that seems broken for me is that:
`ReactInjection.EmptyComponent` no longer has function `injectEmptyComponent` as it now takes a factory function:

[code]

[2016-04-20 08:47] Yomguithereal commented on #50
Yes, it would be nice to support v15. Do you think this is the only thing preventing the renderer from working with v15? The only thing a bit tedious would also be to detect the version of React so that the code may work with 14 or 15 independently.

[2016-04-25 01:23] jamesreggio opened #51 "Publish release"
Friendly reminder to publish a release to npm. Looks like the last (001f859d0c13b28b2a48617ea6f115a439dc1ee4) was in November 2015.

[2016-05-19 19:08] Kasu commented on #50
@Yomguithereal Apparently v15 has changed internals quite a lot. _rootNodeID is a globally increased integer now for instance, which pretty much breaks how you do id operations.

[2016-06-18 09:22] konobi commented on #41
well, react + redux is really what you want to support =0)

[2016-06-18 09:23] konobi commented on #49
you could have a look at JSnoX as an example of doing react with plain JS.

[2016-06-26 18:59] Nubuck opened #52 "Question, would render to string be possible?"
Hi, big fan on the lib here.

I've been wondering if it would be possible to render a sub-set of components to string or stdout without attaching the entire screen?

The reason I ask, is that I'd love to be able to use this with commander and inquirer based apps for rendering responses... for example:

[code]

[2016-06-29 09:14] Yomguithereal commented on #52
Hello @Nubuck. I don't remember whether `react-dom/server` enforces HTML or just render plain XML but you may want to try it, it could work :). If it doesn't then, I guess someone would need to create a XML renderer for React to cope with this kind of usecases.

[2016-06-29 19:53] Nubuck commented on #52
@Yomguithereal shows my ignorance, I assumed it only rendered HTML when my attempts crashed. I'll dig deeper to find if there is a way around the validations. Thanks for replying!

[2016-06-29 20:24] Yomguithereal commented on #52
If there is no way around the validations then we need to build a custom renderer and I'm thinking of creating one for outputting custom XML outputs.

[2016-06-29 20:32] Nubuck commented on #52
That was my thinking as well. I want to build my dev environment the same way I build products... so I'm working on a way to make that happen.
I'd really like to see the completion of [JSXN](https://github.com/threepointone/jsxn) (jsx notation for json trees) it would make schema management really pleasant...

[2016-07-06 08:12] mattstyles opened #53 "Render diffs"
Howdy,

At the moment the react-blessed renderer is recreating the tree with each render call, this differs from react-dom which attempts reconciliation with the dom rather than stamping over it (too much). This means that you can't use top-down data-flow with react-blessed as each `render` call effectively recreates the entire tree, and, actually, I've noticed a hefty slow down after repeatedly c

[2016-08-20 02:00] ianwremmel opened #54 "How do I make interactive applications?"
I feel like I'm missing something, but I'm struggling to figure out how to make interactive apps with react-blessed. All of the examples appear to be purely rendering content with zero user interaction. Is there an example somewhere of an interactive app?

[2016-08-21 03:23] ambethia commented on #54
From Blessed's FAQ, this is probably the first bit:

If you want to respond to keyboard input, I guess you'd just listen to stdin like anything else, and change your state based on that, re-rendering the UI. I don't think the components themselves need to have event handlers like the DOM stuff in ReactDOM. I could be wrong.

[2016-10-23 07:19] DaleJefferson commented on #50
@Yomguithereal This project looks really good, I was just about to start building a dashboard using it when I came across this issue. The last comment was in May and I'm using react 0.15 on all my projects now, do we have a plan for supporting react 0.15. I'm happy to help out, do we have a list of issues that need to be resolved?

[2016-10-23 11:32] Yomguithereal commented on #50
For that, one would need to go and perform some archaeology within React's code to see what changed concerning the injection of the renderers.

[2016-12-19 16:09] dundalek commented on #30
Hi all,

I wanted to use contrib widgets in a project, so I created a wrapper library (as suggested by the second solution). The components are passed into the `react-blessed` renderer. It is implemented by extending the `ReactBlessedComponent` so there is no need for host element for most widgets.

Here is the module https://github.com/dundalek/react-blessed-contrib with examples included.

[2016-12-21 17:45] konsumer opened #55 "Cannot find module 'react/lib/ReactInstanceHandles'"
I get this error with this demo code:

[code]

I think it might be related to [this issue](https://github.com/facebook/react/issues/8342)

The Full error follows:
[code]

[2016-12-22 16:55] konsumer commented on #55
Seems to work fine with these versions locked in:

[code]

[2016-12-22 16:55] #55 closed

[2016-12-22 20:53] Yomguithereal commented on #55
Hello @konsumer. Yes, I think the library does not work with React v15. I'll change that when I have some time but since the internals of React change quite quickly, it's difficult to make the contraption stable.

[2016-12-22 20:57] konsumer commented on #55
No prob! I totally understand. Maybe some code generation would help? I'd be happy to take a look when I have time.

[2016-12-22 21:10] Yomguithereal commented on #55
I don't think code generation would help. However, finding what changed regarding dependency injection between React 0.14 & 15 and bootstrapping the library conditionally to react's version would be awesome.

[2016-12-22 23:13] konsumer commented on #55
Ah yes, I investigated how you are doing stuff now, and it's pretty dynamic. I will look into it more.

[2017-01-15 16:44] simonhochrein commented on #41
+1
This would be a great feature

[2017-01-21 15:38] neurosnap commented on #55
Any updates on this?

[2017-01-24 11:05] dundalek opened #56 "Checkbox does not update checked state"
For example in this repro case checkbox stays unchecked:

[code]

From my understading adding `checked` into `RAW_ATTRIBUTES` should fix the issue.

As a workaround for now I use `<checkbox value={this.state.checked}>` and monkeypatch blessed:
[code]

[2017-01-24 12:05] Yomguithereal commented on #56
Its absence from `RAW_ATTRIBUTES` seems to be the problem indeed @dundalek. I'll accept a PR to fix it if you have time to create it. What's more, I reckon the way `RAW_ATTRIBUTES` are checked is really not efficient and should be done using a `Set`. I'll be really glad if you could add this improvement to a PR also :)

[2017-01-24 12:19] dundalek commented on #56
Sounds good, I'll give it a try.

[2017-01-25 14:15] #56 closed

[2017-02-01 18:18] tbranyen opened #58 "Thinking about React 15 support"
I'd like to help contribute migrating this project to React 15, and I think we could greatly reduce the amount of code necessary. For instance, right now the code is doing a ton of dependency injection since we don't have `screen` in scope. What if this library looked something like this instead?

[code]

[2017-04-23 21:01] steve-chavez opened #61 "How to receive all childs keypress events?"
On blessed is possible to do this with:
[code]

Instead of ```on('keypress')``` I have a root element that needs to handle this, I've tried with ```onElementKeypress``` but it doesn''t work. Check [blessed event bubbling](https://github.com/chjj/blessed#event-bubbling).

[2017-04-25 08:41] Yomguithereal commented on #61
For this kind of advanced use case I guess you should probably use refs and bind your event. It would be a bit difficult for the library to guess the combination of event elements based on the name (not saying it can't be done, just that maybe it should not be done). But maybe some middle way can be found. Something along `onCustom` taking a tuple of `[event, handler]` or even a list of those.

[2017-05-05 10:40] naholyr opened #62 "Unable to scroll or select in <list>"
Here is my sample component:

[code]

And the result, as expected:

![screenshot at 12-37-30](https://cloud.githubusercontent.com/assets/214067/25742425/b151364a-318f-11e7-8739-49abf25efa87.png)

The only drawback is that there is no interaction, I tried with arrows, mousewheel, vi shortcuts, with or without ``vi`` property… Nothing moves :( If I add ``clickable={ true } onClick={ () => console.lo

[2017-05-05 11:02] naholyr commented on #62
I found the solution : add `mouse={ true }` and `keys={ true }` to enable all the mess :)

That may desserve a line in README ;)

[2017-05-05 11:37] Yomguithereal commented on #62
Yup. `blessed` is somewhat cryptic at times and its documentation does not help to spot those usual issues.

Well I will gladly merge a PR ;)

[2017-07-01 17:04] ericandrewlewis opened #63 "Invoking setState with a tree that uses <layout> makes screen go blank"
Thanks for this awesome library 😄

I tried using the `<layout>` component from blessed which, although experimental, was a method I found to get inputs that shrink to their content's height rather than setting a percentage height on them.

I notice that the blessed readme calls the layout component experimental, but thought I'd offer a bug report anyway to see where it goes.

Using layout and setS

[2017-07-17 15:48] DxCx commented on #58
hey @tbranyen any update on this?

[2017-07-23 20:19] abritinthebay commented on #58
This is a much nicer interface

[2017-07-31 18:44] devsnek commented on #54
to add on to this, is it possible to handle the input that happens with textboxes and elements like that?

[2017-07-31 19:17] ianwremmel commented on #54
I haven't really been back to this since about the time I opened the issue, but to be useful for interactive apps, it seems like the elements should have `focus` and `blur` events like normal DOM elements, as well as natural ordering with the ability to override, again, like normal DOM elements.

Basically, I can't see how to build interactive apps without having the same primitives that browsers

[2017-07-31 20:03] devsnek commented on #54
as a followup to my original quesiton, i was able to use react refs to interact with the textarea i spawned and attach the necessasary listeners and handlers for text input

[2017-08-21 19:04] revolunet commented on #51
closable

[2017-08-21 19:05] revolunet commented on #49
closable ?

[2017-08-21 19:06] revolunet commented on #53
can we prevent renders with `componentShouldUpdate` with react-blessed ?

[2017-08-21 19:10] revolunet commented on #41
related : https://medium.com/styled-components/announcing-primitives-support-for-truly-universal-component-systems-5772c7d14bc7

[2017-08-21 19:43] piranna commented on #41
What's the difference with ReactNative-everywhere?

El 21/08/2017 21:10, "Julien Bouquillon" <notifications@github.com>
escribió:

related : https://medium.com/styled-components/announcing-
primitives-support-for-truly-universal-component-systems-5772c7d14bc7

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/Yomguithereal/reac

[2017-08-22 09:21] Yomguithereal commented on #54
Can I help somehow?

[2017-08-22 09:23] #51 closed

[2017-08-22 09:24] #49 closed

[2017-08-22 09:27] Yomguithereal commented on #53
I guess so. Never tried it though. @revolunet maybe your issue with the list comes from this. @mattstyles there is probably a bug somewhere in my code that implies remounts (or maybe I was lazy and did not properly diffed somethings).

[2017-08-30 08:07] devsnek opened #66 "Alignment issues"
I'm not sure what is going on here, but any help would be appreciated.

My intention is `Clyde#0001 BOT`

![](https://gc.gy/⟡.png)

[2017-09-04 12:41] Yomguithereal commented on #66
The result is strange indeed. But it might come from the fact that blessed boxes have absolute positions which means that your two boxes overlap and that you need to position them explicitly. There should be blessed primitives more suited to your use case.

[2017-11-01 15:37] Delapouite commented on #58
The focus can also be on React 16 now.

[2017-11-22 23:52] malonehedges commented on #61
@steve-chavez any luck figuring out child keypress events? Struggling with the best way to do this.

[2017-11-23 03:19] steve-chavez commented on #61
What I did was to have a ref to a root `<element>` like [this](https://github.com/subzerocloud/subzero-cli/blob/master/src/dashboard.jsx#L275) then bind the `element keypress` event in a `componentDidMount` like [this](https://github.com/subzerocloud/subzero-cli/blob/master/src/dashboard.jsx#L63).

[2017-11-26 13:08] malonehedges commented on #61
@steve-chavez Thanks so much for the reply! I'll try that out.

[2017-11-27 08:35] #61 closed

[2017-12-05 10:53] Yomguithereal opened #67 "Documenting examples"
Need to document @iamdustan `./run.js` examples.

[2017-12-05 10:54] Yomguithereal opened #68 "Add a linter"

[2017-12-05 11:02] #67 closed

[2017-12-05 11:03] Yomguithereal opened #69 "Fix the `progressbar` example"
@iamdustan there seems to be something wrong with the `progressbar` example. It just renders a plain boring box in the left my screen.

[2017-12-11 18:27] iamdustan commented on #69
Will look into it soon-ish (holidays+travel=eep)

[2017-12-13 17:43] Lokeh opened #70 "Error: Cannot find module 'react/lib/ReactInstanceHandles' @ React v16"
My dependencies:
[code]

My test code:

[code]

Output:

[code]

[2017-12-13 18:52] Lokeh commented on #70
OK, I've been able to get past this error. `dist/` on NPM and `package.json` are stale. Steps to fix:

1. Clone the repo
2. Do a full clean build
3. Change `package.json` to:
[code]

[2017-12-13 18:54] Lokeh commented on #70
However, I now have a new error: when I try and run the test file above, I get the error:

[code]

Using `blessed` directly works fine. When I run the examples in this repo, they work. I'm not sure what's going on. Should I create a new issue?

[2017-12-13 19:00] Lokeh commented on #70
I deleted my last comment - it seems that it wasn't working properly when using `npm link`. By doing the above steps inside of `node_modules`, it works correctly

[2017-12-14 09:38] Yomguithereal commented on #70
@Lokeh is this matter resolved then? Should I close?

[2017-12-14 16:49] Lokeh commented on #70
@Yomguithereal not at all. Installing from NPM is still broken unless the user does the above three steps inside of `node_modules`.

You need to:

1. Fix package.json to correctly point `"main"` to `"./dist/index.js"`
2. *Fully delete* `dist/` and rebuild before publishing to NPM

[2017-12-14 18:22] Yomguithereal commented on #70
Fair enough. I've published a fix on npm. Can you tell me if it's good now?

[2017-12-14 19:04] Lokeh commented on #70
👍

[2017-12-14 19:04] #70 closed

[2017-12-14 19:11] Lokeh opened #71 "`keys` prop does not work on List component"
Example:

[code]

And a working vanilla-`blessed` solution:

[code]

[2017-12-14 19:31] Yomguithereal commented on #71
Hum... I won't have time to investigate this before next week @Lokeh. Don't hesitate to open a PR if you feel like it. Else, you can ping me next week if I forget.

[2017-12-14 21:38] Lokeh commented on #71
I'll investigate as much as I can. Where do I find `react-fiber-types` for flow?

[2017-12-14 23:07] Lokeh commented on #71
It looks like an issue with blessed. I filed an issue: https://github.com/chjj/blessed/issues/325

Perhaps we could special-case `list` when it gets added to the tree to add a `parent` attribute instead of appending it? 😬

[2017-12-14 23:36] Lokeh commented on #71
Or, figure out a way to attach event handlers only to the top-level `screen` and then somehow differentiate the events, kind of like how react-dom does.

[2017-12-15 17:43] RRMoelker commented on #62
Close ticket?

[2017-12-18 09:17] #62 closed

[2018-01-19 04:37] episodeyang commented on #58
this would be nice. A provider component is the way to go!

[2018-01-19 05:32] episodeyang commented on #71
@Lokeh would you mind elaborate? Thanks in advance

[2018-01-19 06:21] episodeyang opened #73 "focus and tab order"
@Yomguithereal Thanks for this great library!

I was looking for ways to put a component in focus but couldn't find it in the documentation. Is there anywhere I can look this up?

Thanks!
Ge

[2018-01-24 16:56] Yomguithereal commented on #58
The way I see it is the difference is that you explicitly require elements' dependencies. While I see the point, I find it a bit weird. You don't do:

[code]

for instance, to load the driver's primitives.

[2018-01-24 23:42] Zaid-Ajaj opened #74 "Question: in the samples, from which module is "box" being imported?"
In the samples I see code snippets like this:
[code]
But I don't see where is this `box` element is imported from. I can't import statements for it, any hints?

[2018-01-25 10:59] Yomguithereal commented on #74
Hello @Zaid-Ajaj. `box` is not imported because it is a blessed primitive node, the same way you don't import `div` when using `react-dom`. If you want to know which primitive there are, check blessed docs about widgets [here](https://github.com/chjj/blessed#widgets).

[2018-01-25 11:38] Zaid-Ajaj commented on #74
Thanks for quick answer! I think I understand now. I was planning on making this library work with [Fable](fable.io) and when we usually use third-party react components, we import them explicitly from a module, for the case of `div`, we import it using the `createElement` function i.e.
[code]
So I was wondering if we could explicitly import the element from somewhere to make this bridge work

[2018-01-25 12:02] Yomguithereal commented on #74
I guess you can do the exact same thing thusly:

[code]

[2018-01-26 03:09] tbranyen commented on #58
If it's easy to make that work, then I agree with that feedback. I'm actually really needing this now for a project at work so I can put some time into make it work the way I proposed. If you have some tips on how to preload React with those components so it works like react-dom does, then I'd be happy to do it that way.

[2018-01-26 10:28] Zaid-Ajaj commented on #74
@Yomguithereal That makes sense, I will try it :smile: thanks a lot

[2018-01-26 10:28] #74 closed

[2018-01-26 10:43] Yomguithereal commented on #58
I don't understand what you mean. This is already the case. Tou don't have to "preload" the components, they are not components but primitives.

[2018-02-26 10:09] Yomguithereal commented on #73
Hum. I thinks that currently you might have to set a ref on the component and used blessed's API to focus the component as I think I did not implement any of the react callbacks used to deal with focus and component mounting etc.

[2018-04-15 08:32] piggyslasher commented on #41
I can see a very good usecase for this to build styled components that have a blessed fallback. Or the other way around.

[2018-04-15 17:55] piranna commented on #41
Each time I think about it, I find it a better fit to have a `react-native-tty` project and use it instead of raw blessed...

[2018-04-22 17:13] #66 closed

[2018-04-29 10:19] SirWindfield opened #76 "Replacing react dependency by using babel transforms"
Hey!

Would it be (generally speaking) possible to replace React with the babel-transform-jsx plugin? As far as I understood, react-blessed uses React under the hood, at runtime. This sounds like a huge dependency for just a cli app. [Ink](https://github.com/vadimdemedes/ink) for example uses the transform approach, transpiling JSX at compile time to normal function calls.

I am not sure how much

[2018-04-29 11:14] Yomguithereal commented on #76
This can be tried but I am not sure it would work. The runtime works by hooking on some React internals and it might be difficult to drop everything related to it.

[2018-08-02 14:46] wintercounter opened #78 "Add react-devtools only as dev dependency"
I'm compiling electron at every install for no reason.

[2018-08-02 14:53] Yomguithereal commented on #78
I agree with you. This dep should be dropped. It’s here because historically a react quirk prevented the library from working without it. But it should not be the case anymore. Coule tou investigate a bit to determine if the dep can be safely dropped?

[2018-08-11 01:43] abritinthebay opened #79 "Allow other blessed apps"
Given blessed is... somewhat unmaintained, it would be nice to be able to pass in a different function to be used (ie - only require blessed if none is passed). That way we could use forked versions with updated code.

Thoughts?

[2018-08-14 17:27] Yomguithereal commented on #79
Hello @abritinthebay. Since currently `react-blessed` only requires `blessed` to do some argument validation [here](https://github.com/Yomguithereal/react-blessed/blob/371711ba555ee719e1243718dc3ad0012f953439/src/fiber/fiber.js), I guess it wouldn't be very hard to drop it from the code and let the user install whichever version.

[2018-08-23 07:50] d4rky-pl commented on #79
@Yomguithereal the `blessed` is also used [here](https://github.com/Yomguithereal/react-blessed/blob/371711ba555ee719e1243718dc3ad0012f953439/src/fiber/fiber.js#L51) and [here](https://github.com/Yomguithereal/react-blessed/blob/371711ba555ee719e1243718dc3ad0012f953439/src/fiber/fiber.js#L105). If I understand correctly, the idea was that `render` acts the same way as `ReactDOM.render` and accepts

[2018-08-28 06:27] abritinthebay commented on #79
Sounds fine to me! Can always look st conditional requires to reduce package size at a later date!

[2018-08-28 07:34] d4rky-pl commented on #79
Can I get a maintainer blessing so I know it makes sense to spend time on this PR? :)
cc @Yomguithereal

[2018-08-28 14:33] d4rky-pl commented on #79
@Yomguithereal since reconciler is never exported outside (because it's an implementation detail), I just wanted to move it's initialization to the factory method and take advantage of javascript scoping.

I'll try to spend some time this weekend to deliver a PR (or at least POC) but to be honest I expect this to be mostly a bit of code shuffling and not a major rewrite.

[2018-09-03 11:57] #78 closed

[2018-09-04 10:18] #79 closed

[2018-10-04 01:39] wearhere opened #83 "Update to latest version of react-reconciler"
Even though the README says that this library will work with React's latest v16.x.x, it does not seem that we can use [the new lifecycles and context APIs](https://reactjs.org/blog/2018/03/29/react-v-16-3.html) introduced in React v16.3 like the . I think this is because this library is using an outdated version of `react-reconciler`.

[2018-10-04 08:01] Yomguithereal commented on #83
You are right. Unfortunately I don’t have much time right now. I will of course review and probably accept a PR fixing this issue :)

[2018-10-18 18:09] philraj commented on #53
any news on this? i'm getting a ton of complete redraws with distracting blanking when a list of items is being updated

[2018-10-18 18:32] Yomguithereal commented on #53
Hum... I don’t remember the specifics of the problem very clearly right now. As I recall the upgrade to latest reconciler logic did something bad but I cant be sure. Unfortunately I don’t have much time right now to investigate. Will definitely review any related PR though. Else you can try to ping me in two weeks when I can find more time.

[2018-11-06 03:47] guoshencheng opened #84 "conflict tag name with react declare"
Hi, is here any support for typescript. i meet a problem.
Use a custom tag should declare namespace JSX. the code may like this

[code]
It works fine sometimes but when i use `button`. The tag name is conflict with origin JSX IntrinsicElements definition. any solutions?

[2018-11-06 07:48] guoshencheng commented on #84
#85 I have made a pull request to resolve this problem.

[2018-11-07 09:54] guoshencheng commented on #84
plan b
#86

[2018-11-09 01:56] monkeysuffrage opened #87 "Attempted import error: 'render' is not exported from 'react-blessed'."
I'm attempting the readme basic application with the latest create-react-app and I get this error.
Any tips to get this working?

[2018-11-15 12:57] #84 closed

[2018-11-17 23:22] konsumer opened #88 "React hooks & context"
I'd love to be able to use [react hooks](https://reactjs.org/hooks) in react-blessed.

It's an RFC, now, but looks like it will probably solidify into mainline react, soon. In order to test, I installed `react@16.7.0-alpha.2`.

As it is, I get this error:

[code]

with this code:

[code]

To verify that the hooks work, etc, [here](https://codesandbox.io/s/py6r7xq6z0) is a similar thing in a sandbo

[2018-11-18 00:06] konsumer commented on #88
[here](https://github.com/konsumer/react-blessed-demo) is a quick demo of the code above, so you can try it out quickly.

[2018-11-18 10:06] Yomguithereal commented on #88
Hello @konsumer. I agree it would be nice to have hooks support. Unfortunately I am not even sure the current codebase is able to work with react@16 since a lot of changes were made to the reconciler logic. I have not much time to work on this but will of course consider any PR.

[2018-11-19 02:43] konsumer commented on #88
I noticed similar with [context](https://reactjs.org/docs/context.html) (in trying to work around no hooks) and was about to make another issue. :)

I'd be happy to make a PR, but I'm not really sure where to start. It looks like you are using [react-reconciler](https://www.npmjs.com/package/react-reconciler) with fibers, which is basically how I would do it, and as far as I can tell all the code

[2018-11-19 05:00] konsumer commented on #88
Ok, I filled in [the demo project](https://github.com/konsumer/react-blessed-demo) a bit more to test hooks & context, including demos that work in react-dom, and will change the title of the isse to include both. I'll start looking at what needs to be added to react-blessed to make it work.

[2018-11-19 07:06] konsumer commented on #88
I got a good start, I think. Supports `@next` of react, and new fibber stuff.

Maybe I am doing it wrong, but I'm not sure how to make buttons `onPress` to work, and it's keeping demos form working (button-presses trigger state/context changes.) Any help would be appreciated. I all I needed to do was this:

[code]

but it doesn't seem to be calling `onPress`.

[2018-11-25 00:28] kingerking opened #90 "Events cause readouts"
Mouse(Move and click), and keyboard Arrow key events are causing event code(what i assume them to be) readouts. No errors in stack or nothing.. Seems to only be happening in `react-blessed`. Tried reproducing in `neo-blessed` and `blessed` but they seem to be working properly.

My start script is:
`nodemon --exec babel-node --presets env,stage-2,react --plugins transform-decorators-legacy,transfor

[2018-11-25 10:47] Yomguithereal commented on #90
Hum. That's quite strange indeed. Can you provide a link to your code or a minimal reproducible version of it?

[2018-11-28 10:45] NXTaar opened #91 "свагге"

[2018-11-28 10:59] #91 closed

[2019-02-20 15:19] pepper commented on #90
Maybe you are in mosh or screen env?

[2019-03-02 18:49] jedahan opened #92 "Example only works in examples subfolder, not in new project"
If I copy the following code to the **examples/** folder inside a git checkout of react-blessed (`db718351aee3ab4f40a9f7b59c12270054ee5da3`), and change `'react-blessed'` to `'../src'` the following works fine. If I have it in a new project, I get this error:

[code]

My package.json:
[code]

[code]

[2019-03-03 12:22] Yomguithereal commented on #92
@iamdustan any idea? I am not clear about the peer deps things related to devtools.

[2019-03-04 18:38] iamdustan commented on #92
I’m guessing something between React and React DevTools versions and/or local or global react-devtools being installed (e.g https://github.com/Yomguithereal/react-blessed/blob/master/package.json#L55)

[2019-03-26 00:39] TJohnW opened #93 "Allow tags on text nodes"
Hey, I'm hoping you could clear up some confusion I have around how text nodes are handled. Is the intent to always set styling on a `text` element and explicitly set the `content` prop of that element? I think I was expecting string child nodes to be set as the content of the parent.

[code]

I also tried to style my text nodes using the tag syntax but found that didn't work either:
[code]
It loo

[2019-04-02 21:16] dandrei commented on #92
I see `<box>` is used a lot, but where is it imported? I tried to run the example code by just installing `react-blessed`, `react`, and `blessed`. Am I missing some magic?

[2019-04-02 21:18] iamdustan commented on #92
@dandrei the JSX transform transforms lowercased `JSXIdentifiers` to strings. So that becomes `React.createElement('box', props)`

[2019-04-03 07:40] dandrei commented on #92
Thanks @iamdustan. My IDE complained about it so I thought I did something wrong, but the code works fine.

[2019-04-03 08:03] dandrei opened #94 "Example for Midnight Commander-like interface?"
Hey everyone,

I wonder how easy it is to create a Midnight-Commander like interface ([link](http://www.nawaz.org/media/docs/mc/images/basicwindow.png)).

It would need two boxes side by side, each with a table with at least 2 columns. People should navigate with up/down arrows and `Tab` from one side to the other.

On the bottom, there would be a list of possible commands to do with the currently

[2019-04-03 08:55] Yomguithereal commented on #94
Hello @dandrei. I am sure this is fairly doable, since `blessed` allows you to create such interfaces. However I would not say it will be too easy. I expect unforeseen roadblocks :).

Yes, I remember CLI UIs built by someone to administer SQL databases, but I don't recall the name.

[2019-04-04 03:23] cancerberoSgx commented on #84
Hello there, how are you using the library in TypeScript .tsx files ? ,I'm trying with @types/react-blessed , @types/blessed but not success, will keep investigating but would be awesome to have a working example, any tip is most appreciated.

[2019-04-04 22:44] lirantal commented on #94
May not be as close as you might think to Midnight Commander but I've built dockly with blessed and blessed-contrib (wasn't familiar back then with react-blessed): https://github.com/lirantal/dockly

![image](https://user-images.githubusercontent.com/316371/55593368-776b9a80-5733-11e9-988c-cf41329dad79.png)

It makes use of grids to include several list tables, navigates between them, has pop-ups

[2019-04-04 22:49] dandrei commented on #94
Thanks @lirantal, looks cool, will check it out!

[2019-05-04 11:38] #88 closed

[2019-05-10 06:17] bensleveritt commented on #76
@SirWindfield As I understand it, the addition of React brings advantages beyond JSX (lifecycle methods, hooks, etc.). It's an overhead, but arguably less worrisome than in the browser.

As there isn't any action here, perhaps this issue can be closed?

[2019-05-10 06:18] bensleveritt commented on #68
Duplicate of #47 ?

[2019-05-10 11:43] #76 closed

[2019-05-10 11:43] Yomguithereal commented on #68
Indeed :)

[2019-05-10 11:43] #68 closed

[2019-05-14 03:43] mbodge opened #96 "Getting the 'image' tag to work"
Hi there, thanks for the library! I'm running into issues getting an Image element to work. I've added 'file-loader' plugin to my .babelrc and the file path is successfully loaded and prints out within a componentDidMount() here's my code:

[code]

Any ideas?

[2019-05-14 03:45] mbodge commented on #96
Ok I figured it out, and would just delete this but just in case anyone else is looking i replaced:

[code]

with:

[code]

[2019-05-14 03:45] #96 closed

[2019-05-15 06:51] viktor-podzigun commented on #94
I'm currently working on this type of application. Its console File and Archive manager.
You can check it here: [FAR.js](https://github.com/farjs/farjs)

Hopefully you can find it useful.

[2019-06-06 12:50] dpacmittal opened #97 "TypeError: Invalid Version: undefined when trying to use react-devtools"
I'm trying to use react-devtools and I'm getting this error:

[code]

I'm not sure what's wrong. Here's my package.json:

[code]

This only happens when `react-devtools` is open.

[2019-06-06 12:55] dpacmittal commented on #97
I removed node_modules folder and updated my package.json (removed `react-devtools-core` and `blessed`) to:

[code]

Now I have started getting:
```WARNING: the `ws` package must be installed to use `react-devtools`.```

Which is why I had installed `react-devtools-core` and `ws` in the first place using `install-peerdeps`.

[2019-07-25 21:12] wearhere opened #99 "Library prints devtools error message to console"
If this library is loaded without `react-devtools` or `ws` being installed, https://github.com/Yomguithereal/react-blessed/blob/1ae620a62c90bd34051d6458876a6b70abd7cf77/src/fiber/devtools.js will throw an error, resulting in [this message](https://github.com/Yomguithereal/react-blessed/blob/1ae620a62c90bd34051d6458876a6b70abd7cf77/src/fiber/devtools.js#L24) being logged to the console. I see that

[2019-07-26 12:34] Yomguithereal commented on #99
Hello @wearhere. You are making a good point. I guess clients should be able to use devtools but I agree those warnings should not pop out and devtool integration should really be opt-in. However, I don't remember if, at the time, some technical limit was not involved here. @iamdustan do you remember anything about this?

[2019-09-28 11:06] kenkit commented on #87
Same here, can't belive this is not solved.
@monkeysuffrage we use create-react-app then use the instractions in readme to install.
The error is
[code]

[2019-09-30 09:52] Yomguithereal commented on #87
This is not an issue of the library. `create-react-app` is meant to spawn a web application in a browser, not a shell environment. As such it does not work when running `npm start` and running its dev server to spawn the web page. You don't need `create-react-app` to make this library work. Maybe the `create-react-app` team would be interested in creating a `react-blessed` template but I doubt it.

[2019-09-30 21:38] kenkit commented on #87
well it seems I was the one who misunderstood, I thought it was a web-based terminal window.

[2019-12-01 11:33] gjuchault opened #103 "`useEffect` not working with NODE_ENV=production"
As soon as you add `NODE_ENV=production` and call `useEffect` in a functional component, here is the error I get:

[code]

[2019-12-01 11:41] gjuchault commented on #103
Adding a `console.trace` into `scheduledPassiveEffects` give the following:

(NODE_ENV=production)
[code]

(NODE_ENV=development)
[code]

[2019-12-01 13:25] Yomguithereal commented on #103
That's quite strange indeed. Maybe they added some methods to the scheduler related to hooks and we did not add those.

Side question: does the function you give to useEffect in your case returns a unsubscribing function?

[2019-12-01 14:37] gjuchault commented on #103
@Yomguithereal Some do, some don't. It seems somehow unrelated

[2019-12-16 10:28] gouegd commented on #73
Here's a quick sample with hooks to focus if someone is looking for it

[code]

[2019-12-16 10:30] Yomguithereal commented on #73
Thanks @gouegd.

[2020-04-06 21:31] a-y-u-s-h commented on #87
I'm getting this error with barebones webpack app. This is what my `webpack.config.js` looks like:

[code]

[2020-04-06 22:40] a-y-u-s-h commented on #87
Actually, solved the issue. This is how I'm running the app now, with command `yarn development`:

`package.json`:

[code]

`webpack.config.js`:

[code]

[2020-04-08 17:01] Yomguithereal commented on #87
So is there any problem there? I am a bit confused. Why are you using webpack on the server-side though?

[2020-04-08 20:21] a-y-u-s-h commented on #87
Nope, no problem now with the build. Except I'm having some troubles trying to access main `screen` across the components, but I should open a new issue requesting for a detailed document on event handling and access to main `screen` and detailing the need for it.

I'm kind of a beginner when it comes to Webpack but I think it can also be used on server-side as well (with some plugins like webpack

[2020-04-09 08:24] Yomguithereal commented on #87
You should be able to get access to it through a ref. But I suggest you pass it through context else.

[2020-04-09 08:24] #87 closed

[2020-04-25 00:13] cdaringe opened #106 "readme shows incredible demo, but checked in demo missing rich content"
thanks for this library, very cool.

# problem

blessed is giving me a hard time. in trying to replicate layouts and events as shown in the readme, i want to consult how it was done by the author

# discussion

the demo is missing all of the _key_ details. for example, `<Jobs />` is more or less empty. is there a _rich_ example available?

[2020-04-25 11:20] Yomguithereal commented on #106
Hello @cdaringe. The example shown by the readme's gif stands [here](https://github.com/medialab/sandcrawler-dashboard). But be aware that it was made on a rather ancient version of the lib. Else I remember that there exists some react-blessed version of SQL db uis somewhere that could help you find rich examples.

[2020-04-25 16:33] cdaringe commented on #106
Awesome thank you!

[2020-04-25 16:33] #106 closed

[2020-06-06 04:05] freitagdavid opened #108 "Issue with Overmind state management"
So I'm pretty sure that this is an issue with react-blessed I've got my app all wired up I can see the global state from within the component but when the state is updated it is not causing a rerender of the component. I can see updates to the global state when I use a local state that gets updated to cause a rerender but for some reason when their useApp hook is used it's not causing a rerender.

[2020-06-06 20:35] Yomguithereal commented on #108
Hello @freitagdavid. Can you provide a way to reproduce the issue?

[2020-06-27 03:52] danielpza commented on #84
Hello @cancerberoSgx , so did you find a solution, how did you solve it?

[2020-07-09 09:55] TiagoGouvea opened #109 "Keep the screen content after exit"
React Blessed is a such amazing lib! Thank you for that! 💪

I want to draw some content during a build process, that will not stop to interact with the app. For that I need keep the content "printed" on screen after the `process.exit`, other than clear the screen.

Is it possible?

Thanks, any help would be greatlly appreciated

[2020-07-09 10:21] Yomguithereal commented on #109
Hello @TiagoGouvea, interesting question. I think a solution can be found on the `blessed` side. I think you need to find a way to "dump" or "draw" the blessed UI to stdout when you detect that the process will exit or when you know it will do so by closing the UI yourself and dumping its content. Sorry to be of little help but I don't remember the internal of blessed enough to help you more but I

[2020-07-09 10:43] TiagoGouvea commented on #109
Thanks @Yomguithereal for the fast reply.

I thought it, use the log or some like that to printout the results, but I guess I would lose colors and some formating.

I will investigate more, and if I find a solution I will bring it here.

Thanks

[2020-07-09 12:41] Yomguithereal commented on #109
I guess you could also try to monkeypatch the `screen.destroy` method and such but writing it it certainly looks like a perilous idea :)

[2020-07-11 11:19] TiagoGouvea commented on #109
I changed my mind. The user will see the information (rendered) and press enter. This way I don't need to print and keep it on stdout.

Thanks @Yomguithereal

[2020-07-11 11:19] #109 closed

[2020-08-13 18:10] paaatrick opened #111 "useEffect hook with empty dependency array called twice"
First, wonderful library; thanks for your work on it.

If I have a component with a `useEffect` hook with an empty dependency array I would expect the callback function to be called once. However if the callback function calls a state updating function (i.e. one returned by `useState` or the `dispatch` function returned by `useReducer`) the callback is called twice. Here is an example:

[code]

I

[2020-09-21 11:18] Yomguithereal commented on #111
Hello @paaatrick. Sorry for the late response but I did not find much time to investigate this issue. Would you be willing to try and peak under the hood to find what could cause this?

[2020-12-06 08:49] viktor-podzigun commented on #111
FYI: `useLayoutEffect` works just fine, so for time being I use it instead of `useEffect`. Could be some issue related to scheduling.

[2020-12-16 16:09] HemTech opened #113 "Routing issue"
We are implemented console app using react blessed.
We are using react-route library for routing.
I’m able to navigate and set the focus on textbox but if the component has only list control then we are not able to set focus.
I have created a minimal reproducible example of this issue.

gitlab.com/Hemendra.patel/react_neo_blessed

[2020-12-17 21:07] LordZardeck commented on #30
Where does this stand? It's been 5 Years since the last discussion, and react-blessed-contrib hasn't been updated in 3 years and doesn't seem to work with the latest version of this library.

[2020-12-18 13:25] Yomguithereal commented on #30
@LordZardeck I may be mistaken since I haven't used `blessed` and `blessed-contrib` since quite some time now but I think it is now possible to create some kind of wrapper component that uses a ref to the rendered blessed node so that you can attach any blessed-contrib widget on it, no?

[2021-01-08 08:12] zcaudate opened #114 "Question about speed of the new renderer"
I have an [updated](https://github.com/zcaudate/react-neo-blessed-hot-motion) version of (react-blessed-hot-motion)[https://github.com/gaearon/react-blessed-hot-motion] working and it runs but the animations are quite slow compared to the original.

Is there any way to debug or tune this?

I've asked [here](https://github.com/gaearon/react-blessed-hot-motion/issues/8) as well.

[2021-01-11 02:16] zcaudate opened #115 "react-blessed not working with react-redux"
Copying from the response to a question I asked [here](https://stackoverflow.com/questions/65651830/react-redux-store-updates-once-and-then-stops-updating/65660253#65660253)

- there's a bug somehow between `react-blessed` and `react-reconciler` that is causing `useEffect` cleanup functions to be run when they shouldn't be.  This _may_ be due to `react-blessed` keeping around this `runningEffects`

[2021-01-11 08:58] Yomguithereal commented on #115
Hello @zcaudate, this is unfortunate indeed. But you seem to have a better understanding of the issue than I have currently and thus I was wondering whether you would like to attempt a PR to fix the problem, maybe by upgrading the underlying reconciler?

[2021-01-11 15:28] zcaudate commented on #115
@Yomguithereal Hahaha. No, not at all. That was from one of the the maintainers of the redux project. I'm coming in to react from vue so am doing some simple projects to better understand the ecosystem.

I found immer to be a better and simpler model than the one by redux.

[2021-01-11 22:54] markerikson commented on #115
Hiya! Yeah, the issue here is that `react-blessed` has a dependency on `"react-reconciler": "^0.20.4"`.  Per my investigation, that version of `react-reconciler` has a bug in how it checks for running passive effects, and this is causing React-Redux to run a subscription cleanup when it shouldn't.

As of `react-reconciler@0.21.0`, that chunk of the code has been completely rewritten.

The current

[2021-01-13 13:21] zcaudate commented on #115
@markerikson is it just as simple as upgrading the `react-reconciler` version?

I'd like to give it a go.

I did some quick and dirty (using immer instead of redux)

- https://github.com/zcaudate/play.tui-grid-history
- https://github.com/zcaudate/play.tui-grid-movement
- https://github.com/zcaudate/play.tui-game-of-life

Maybe this is related but I found that when I'm using an [async timer](https

[2021-01-13 13:22] zcaudate commented on #115
@Yomguithereal: are there any instructions for compiling this library?

[2021-01-13 13:24] Yomguithereal commented on #115
@zcaudate I am not sure to precisely know what you mean by "compiling" in this context. Just install deps with `npm i`, run the units tests with `npm test` and, most importantly, try to run some examples using `npm run demo` to see if what you did still works.

[2021-01-13 15:03] zcaudate commented on #115
Sweet I'll take a look in the next couple of days

Just for completeness' sake with the counter examples:

- https://github.com/zcaudate/play.tui-counter-basic
- https://github.com/zcaudate/play.tui-counter-redux
- https://github.com/zcaudate/play.tui-counter-immer

I was hoping to get snake and pong working but the async animation thing not working kinda put a damper on it.

[2021-02-06 23:35] Yomguithereal commented on #115
v0.7.0 should have fixed this issue? Can someone confirm and close the issue or ask me to do it please?

[2021-02-07 00:01] markerikson commented on #115
I just tried updating the bug repro counter project I was given, and it does appear to be updating correctly now.  So, I'm gonna give a thumbs-up.

[2021-02-07 05:30] zcaudate commented on #115
yep. it's working for me too!

[2021-02-07 05:30] #115 closed

[2021-02-08 23:33] NickHackman opened #117 "Revamping Components - Typescript Types"
I'm going to work on expanding the type definitions that were part of #86, in order to improve usability in a Typescript context. Specifically, the goal is to type all of blessed this will probably take a while, but bare with me :slightly_smiling_face:

I have a few questions on naming and conventions moving forward.

1. The Components created by react-blessed are intrinsic types of React and ther

[2021-02-09 09:21] Yomguithereal commented on #117
Hello @NickHackman

`react-blessed` is full-fledged react custom renderer. Therefore its primitive components must be lowercased and don't require import, as if you were using `blessed` instead of the DOM. If you had to import components then you would need to rely on an already existing react renderer such as `react-dom`, which does not make sense in a shell context.

If I remember correctly the

[2021-02-09 23:41] NickHackman commented on #117
Yeah, my bad here had a brain fart. That makes sense!

I'll look into this while I work on adding the types! Thanks for the answers, I'll link the PR in DefinitelyTyped here when I've added a few types.

[2021-03-03 01:08] groner opened #118 "Tear down with useEffect cleanup functions"
It seems that using `screen.destroy()` to tear down my application doesn't cause `useEffect` cleanup functions to be called.

Right now I'm working around with a wrapper container that I can tell to de-render its children prior to calling `screen.destroy`.  Is there a better way?

I'm using the 0.7.0 release.

[2021-03-03 08:29] Yomguithereal commented on #118
Hello @groner, frankly I am a bit amazed that cleanup functions are run on `screen.destroy` since I don't even know how react detects this. I guess this is tied to blessed event emitters. But anyway, can you provide a minimal reproducible use case so I can try to tweak this?

On a side note, how would `react-dom` work with this? My point is, isn't what you observe the "expected" behavior?

[2021-03-04 19:36] groner commented on #118
Hi @Yomguithereal,

Thanks for looking at this, and also for this project.

I guess my wording may have been less than clear, but the issue is that `useEffect` cleanup functions **aren't** run when `screen.destroy` is called.

I've created a reproduction. Its a little longish, so I've put it in a [gist](https://gist.github.com/466e703c4bc7de43e938793aa345e4a4).  The gist contains a script demonstr

[2021-03-05 08:11] Yomguithereal commented on #118
Hello @groner, I see your point. Let me try some things but I am not sure I can do anything without monkey-patching your screen's destroy function which feels a bit too dangerous to my taste. By maybe I can rely on some event or some dummy root element for this, but the fact is I will probably not be able to ensure some async cleanup is run to completion in this case.

[2021-03-05 08:41] Yomguithereal commented on #118
Hi again @groner, I have tried something on [this](https://github.com/Yomguithereal/react-blessed/commit/6f5b700860e55819f2a243fa6623f8bd605453d2) commit. Can you try it and tell me if this could fit the bill?

[2021-03-08 19:22] groner commented on #118
Hi @Yomguithereal,

This change seems good. My application is able to cleanup and exit without using the `Unmounter` wrapper.

[2021-03-08 21:02] Yomguithereal commented on #118
Ok, v0.7.1 is live on npm with the fix. Will close this issue then.

[2021-03-08 21:02] #118 closed

[2021-03-11 02:19] groner opened #119 "console.log('screen was destroyed!') in 0.7.1 release"
Hi @Yomguithereal,

Thanks for the 0.7.1 release.

It looks like some debug noise got into the released build.  The source maps in the build show the following changes when compared to my checkout of 0.7.1.

[code]

[2021-03-11 08:49] Yomguithereal commented on #119
There is something weird indeed. The actual source on the repo is not the one that was built and shipped. Let me fix this quickly in a 0.7.2 release.

[2021-03-11 08:59] Yomguithereal commented on #119
v0.7.2 is live on npm and should hopefully fix your issue. I was bitten by the changes npm made to the `prepublish` script.

[2021-03-11 08:59] #119 closed

[2021-03-11 21:03] groner commented on #119
Looks good.  Thanks again.

[2021-04-24 20:18] OnkelTem commented on #117
Folks, honestly it's really hard to understand what is going on here...

Is my understanding correct that **no real TypeScript support exists for this module**? Basically one doesn't simply use `<box>` and expect its gonna compile, right?

After searching and reading many comments I stumbled upon https://github.com/Yomguithereal/react-blessed/pull/86 PR after reading which I came to conclusion tha

[2021-05-02 21:56] NickHackman commented on #117
@OnkelTem This issue is working on revamping the Typescript types as you found out are quite lacking to the point that they don't really do anything. The current types technically work as `any` works fine for components, but won't give you any autocomplete or assistance in debugging. I don't think it's necessary to update the README, and this issue is the first result when looking for "typescript"

[2021-05-04 07:37] OnkelTem commented on #117
Thanks @NickHackman for the reply.

I've actually switched to a different framework — https://github.com/vadimdemedes/ink
It's actively developed and looks more up to date (along with types).

As for blessed, it doesn't seem to be maintained as you know.
That doesn't necessary signals a problem — maybe it's already ideal and there's no bugs! eh? — but that's unfortunately not the case and their is

[2021-05-14 09:23] hoebat opened #121 "Suspense not working correctly with the react reconciler"
This issue is started here, when I was trying out suspense with react

https://github.com/pmndrs/jotai/issues/475

It seems that the Suspense works on initial load, but then when a new promise is thrown, it is missing a method that is available on react-dom:

[code]

an example has been set up here:

https://github.com/zcaudate/js-blessed.store-test

[2021-05-14 09:23] hoebat commented on #121
this is the setup for react-dom

https://codesandbox.io/s/react-typescript-forked-813p1?file=/src/App.tsx

[2021-05-14 23:41] devsnek opened #122 "no rendered output"
terminal:
![](https://gc.gy/88740616.png)

react devtools:
![](https://gc.gy/88740632.png)

[2021-05-15 18:20] Yomguithereal commented on #122
hello @devsnek. It will be hard for me to help you without any kind of code as I don't know what to make of your screenshots. However I see some katakana chars and I know `blessed` can have issues with non-ascii chars so you should maybe test the `fullUnicode` or `forceUnicode` screen settings documented here: https://github.com/chjj/blessed ?

[2021-05-15 18:26] devsnek commented on #122
@Yomguithereal i use fullUnicode and forceUnicode. managed to get a simpler repro though:

[code]

![](https://gc.gy/88808159.png)

[2021-05-15 18:36] Yomguithereal commented on #122
@devsnek your example produce the correct result as blessed interpret this as "stack those two boxes on top of one another". Try this for instance:

[code]

One point you may have is that, if I recall correctly, `blessed` List widget is not very suited to `React` declarative logic because of its imperative implementation.

[2021-05-15 18:38] devsnek commented on #122
How do i display lines of text without manually giving each one a top offset?

[2021-05-15 18:47] Yomguithereal commented on #122
I haven't been using `blessed` since at least 2-3 years now so I may be forgetting something but I don't remember blessed having dynamic layout options. Which means you either need to give a top offset yourself (which is not too complicated to wrap as a custom component if your list don't need incremental updates), or wrap the list/table components using refs and hooks etc. to allow the imperative

[2021-05-15 18:51] #122 closed, assigned to nobody

[2021-07-09 07:46] defnotrobbie commented on #117
new definitions for react-blessed were published yesterday. they use module augmentation on react and jsx to replace html intrinsic elements with react-blessed elements (with and without the `blessed-` prefix). I'm not sure they're 100% complete (I didn't write defs for `escape` and `program`, for example) but they cover the example code and work for a small project I used them in.

[2021-07-12 12:17] #117 closed

[2021-11-01 05:48] zach-is-my-name opened #123 "Render Array of JSX elements?"
**Edit:**  At the 11th hour I realized this is likely due to blessed-style positioning.  I'll leave the issue open in case you'd like to chime in.

Hi, great library, really does what others can't by combining React AND Blessed... really thrilled to use it

anyway,
I'm trying to parse a string interpolated with JSX elements and render it with the help of some libraries:
https://github.com/iansinno

[2021-11-01 11:09] Yomguithereal commented on #123
Hello @zach-is-my-name. I am not sure I understand all of the issue but I guess your edit holds at least part of the answer which is indeed that blessed elements must have their positioning defined indeed as it does not offer some kind of automatic layout as the HTML/CSS DOM in the browser. Did you try incrementing a y position of the `ButtonBox` element in your callback? Does it solve your issue?

[2021-11-01 11:14] zach-is-my-name commented on #123
Thanks for the reply, I discoved that my original issue was not an issue.  React-Blessed renders an array of elements the same as react-dom.

I didn't touch the callback yet but I ran a quick test to confirm what I just mentioned.  What I don't get now is why giving a percent to the `top` property works.  But giving an giving an absolute value to top does not.  Can you give me a hint?

[code]
![Sc

[2021-11-01 11:57] Yomguithereal commented on #123
For absolute position, it should be numbers so `<box top={10} />` not `<box top='10' />`.

[2021-11-01 20:54] zach-is-my-name commented on #123
Thought I tried that, maybe not.  Thanks

[2021-11-01 20:55] #123 closed, assigned to nobody

[2022-07-12 13:12] zach-is-my-name commented on #54
@devsnek  it's been a while but do you recall being able to go beyond submitting form text to actually capturing text "onChange" (non-existent in blessed)?

I'm struggling to capture live input for a fuzzy-finder lib

[2022-07-12 13:23] Yomguithereal commented on #54
There is not `onChange` or `onInput` I know of in blessed unfortunately. This said, have you tried `onKeypress` (`keypress` being an event of a blessed `Element`)? With some work it could be possible to make it work like you want maybe?

[2022-07-26 22:57] zach-is-my-name commented on #54
_*Edit:_ The ref updates immediately as seen in react-devtools (linked below), the problem is capturing that update (logging it, passing it) when it's clearly there...
 ___________________________________________________________
Thanks for the reply.  Yes, that is the strategy I'm using at the moment, the problem I'm encountering is `textboxRef.current.value` only updates at the end of a cycle*...

[2022-07-27 10:13] zach-is-my-name commented on #54
I've got a fix from SO https://stackoverflow.com/questions/73134979/useref-value-in-devtools-but-not-logged#73135578

[2022-08-05 20:35] samingle opened #124 "`log` element not calling `setContent` on changes"
Looking at the [blessed source](https://github.com/chjj/blessed/blob/master/lib/widgets/log.js), it appears that react-blessed isn't triggering the `set content` event when updating a log element reactively.

Failing example:
In this version, the log won't keep scroll pinned to the bottom, because the set content event is never fired.
[code]

Working example:
In this version, the log will keep scr